### Part 1:
Variables and Input
1. Create a variable my_age and assign your age to it. Print a message using this variable.

In [1]:
my_age = 20
print(my_age)

20

2. Ask the user to enter their favorite food and print a message incorporating this input.

In [3]:
fav_food = input("enter your favourite food: ")
print("favourite food: ", fav_food)

favourite food:  apple

Type Conversion:
1. Convert the string "42" to an integer and print the result.

In [4]:
st = "42"
st = int(st)
print("the integer is", st)
print(type(st))

the integer is 42
<class 'int'>

2. Convert the floating-point number 3.14159 to a string and print the result.

In [5]:
fl = 3.14159
fl = str(fl)
print("the string is",fl)
print(type(fl))

the string is 3.14159
<class 'str'>

Strings:
1. Concatenate the strings "Hello" and "World!" and print the result.

In [6]:
s1 = 'Hello'
s2 = ' World'
print("the concatenated string is", s1+s2)

the concatenated string is Hello World

2. Use string indexing to extract the third character from the string "Python".

In [7]:
str = "Python"
print(str[2])

t

3. Take a sentence as input and print only the first five words.

In [8]:
strs = "Life is a winking light in the darkness."
words = strs.split()
first_five_words = words[:5]
result = " ".join(first_five_words)
print(result)

first_five = ' '.join(strs.split()[:5])
print(first_five)

Life is a winking light
Life is a winking light

### Part 2
Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.
Display each value with its data type.
Convert age to float and marks to int before displaying.

In [2]:
user_input = input("Enter name, roll number, age, and marks (separated by spaces): ")
name, roll, age, marks = user_input.split()
age = int(age)
marks = float(marks)
roll = int(roll)

print(f"Name: {name} -> Data Type: {type(name)}")
print(f"Roll Number: {roll} -> Data Type: {type(roll)}")
print(f"Age : {age} -> Data Type: {type(age)}")
print(f"Total Marks : {marks} -> Data Type: {type(marks)}")

Name: Smita -> Data Type: <class 'str'>
Roll Number: 39 -> Data Type: <class 'int'>
Age : 20 -> Data Type: <class 'int'>
Total Marks : 80.0 -> Data Type: <class 'float'>

Question 2: Conditional Logic
Accept marks (0-100) and display:

Excellent (≥80)
Good (≥60)
Pass (≥40)
Fail (<40)

In [ ]:
marks = input("Enter your marks: ")
marks = int(marks)  #type conversion

if marks > 80:
    print("Excellent")
elif marks >= 60:
    print("Good")
elif marks >=40:
    print("Pass")
else:
    print("Fail")

Good

Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [12]:
result= []
for num in range(1, 101):
    if num % 4 == 0:
        if num % 8 != 0 :
            result.append(num)
print(*result, sep=" ")   # The *results unpacks the list, and sep=" " sets the separator.Each item remains an integer type when printed.

4 12 20 28 36 44 52 60 68 76 84 92 100

Question 4: List Operations
Given:
marks = [55, 72, 48, 90, 67, 72, 90]
Find max, min, count of 72, and marks ≥ 60.

In [ ]:
marks = [55, 72, 48, 90, 67, 72, 90]
max_mark = max(marks)
min_mark = min(marks)

count_72 = marks.count(72)

#marks_60 = [mark for mark in marks if mark >= 60]  list comprehension
marks_60= []
for mark in marks:
   if mark >= 60:
    marks_60.append(mark)

count_60 = len(marks_60)
#result
print(f"1. Maximum Mark: {max_mark}")
print(f"2. Minimum Mark: {min_mark}")
print(f"3. Count of mark 72: {count_72}")
print(f"4. Marks greater than or equal to 60 (≥ 60): {marks_60}")
print(f"5. Count of marks ≥ 60: {count_60}")

1. Maximum Mark: 90
2. Minimum Mark: 48
3. Count of mark 72: 2
4. Marks greater than or equal to 60 (≥ 60): [72, 90, 67, 72, 90]
5. Count of marks ≥ 60: 5

Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.
Explain result using comments.

In [14]:
tuple = ("Math", "Science", "History", "Art", "English")
print(type(tuple))
tuple[2] = "Geography"

print("Modified Tuple:", tuple)

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

##### Explanation: This means Tuples are immutable (cannot be changed after creation)

Question 6: List Sanitization and Metrics                  
Given:                    
marks = [45, -3, 88, "NA", 102, None, 67]                     
Write a function that:                   
Removes invalid entries                                   
Returns:                    
Cleaned list                           
Number of invalid entries                        
Percentage of valid marks                   
Return values using a tuple.

In [4]:
def sanitize_marks(marks):
    tot_entries = len(marks)
    cleaned = []
    
    for mark in marks:
        if isinstance(mark, (int, float)) and 0 <= mark <= 100: #is instance checks if the specific mark in the tuple matches the instance(int or float)
            cleaned.append(mark)

    invalid_cnt = tot_entries - len(cleaned)
    
    valid_per = round((len(cleaned) / tot_entries) * 100, 2)

    return (cleaned, invalid_cnt, valid_per)

marks = [45, -3, 88, "NA", 102, None, 67]
result= sanitize_marks(marks)
cleaned_list, invalid_count, valid_percentage = result

print("\n--- Sanitization Metrics ---")
print(f"Cleaned List of Valid Marks: {cleaned_list}")
print(f"Total Invalid Entries Found: {invalid_count}")
print(f"Percentage of Valid Marks: {valid_percentage}%")

--- Sanitization Metrics ---
Cleaned List of Valid Marks: [45, 88, 67]
Total Invalid Entries Found: 4
Percentage of Valid Marks: 42.86%

Question 7: Dictionary Usage
Create a dictionary of roll number and name.
Implement add, update, and display operations using functions.

In [ ]:
#Initializing the global dictionary (Roll Number: Name)
student_records = {
    12: "Derry",
    13: "Merry",
    14: "Gerry"
}

def add_student(roll, name):
    student_records[roll] = name

def update_student_name(roll, new_name):
    if roll in student_records:
        student_records[roll] = new_name

def display_records():
    print("\n--- Student Records ---")
    if not student_records:   # empty dict case
        print("No records found.")
        return
        
    for roll, name in student_records.items():
        print(f"Roll No: {roll}, Name: {name}")

# Display initial records
display_records()

#Add Operation
add_student(20, "Jack")
print("\nStudent Added")

#Update Operation
update_student_name(12, "Harry")
print("\nStudent Updated")

#dictionary after updating
display_records()

--- Student Records ---
Roll No: 12, Name: Derry
Roll No: 13, Name: Merry
Roll No: 14, Name: Gerry

Student Added

Student Updated

--- Student Records ---
Roll No: 12, Name: Harry
Roll No: 13, Name: Merry
Roll No: 14, Name: Gerry
Roll No: 20, Name: Jack

Question 8: Prime Number Function
Write is_prime(n) and display prime numbers between 1 and 50.

In [17]:
def is_prime(n):
    if n <= 1:
        return False
        
    # Check for divisors from 2 up to the square root of n; loop goes up to the square root (n**0.5) + 1 
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
            
    # No divisors found, so it is prime
    return True

prime_numbers = []

for number in range(1, 51):
    if is_prime(number):
        prime_numbers.append(number)

print("Prime Numbers between 1 and 50:")
print(prime_numbers)

Prime Numbers between 1 and 50:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Question 9: Function Composition
Write functions to:
Calculate total marks
Calculate average
Classify result (Distinction / Pass / Fail)
Then write a function that combines them and returns:
(name, total, average, result)
Explain why modular design is beneficial.

In [18]:
#total marks
def calculate_total(marks):
    return sum(marks)

#average
def calculate_average(total_marks, num_subjects):
    return round(total_marks / num_subjects, 2)

#classifying the result
def classify_result(average):
    if average >= 80:
        return "Distinction"
    elif average >= 40:
        return "Pass"
    else:
        return "Fail"
    
#Composition Function
def process_student(name, marks):
    num_subjects = len(marks)
    total = calculate_total(marks)
    average = calculate_average(total, num_subjects)
    result = classify_result(average)
    return (name, total, average, result)


student1 = process_student("Derry", [90, 85, 70])
student2 = process_student("Merry", [55, 30, 65])
student3 = process_student("Gerry", [25, 35, 30])

print("Studentno.: ('Name', total marks, average, 'remarks')")
print(f"Student 1: {student1}")
print(f"Student 2:   {student2}")
print(f"Student 3: {student3}")

Studentno.: ('Name', total marks, average, 'remarks')
Student 1: ('Derry', 245, 81.67, 'Distinction')
Student 2:   ('Merry', 150, 50.0, 'Pass')
Student 3: ('Gerry', 90, 30.0, 'Fail')

Question 10: Defensive Input Parsing              
Write a function that accepts a raw input string in the format:                           
"Ram|101|22|78, 88, 91"                             
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"                        
Tasks:                              
Extract name, roll number, age, and marks                         
Convert them into appropriate data types                    
Validate age (≥16) and marks (0-100)                         
Return the result as a dictionary using roll number as the key                
The function must not crash for malformed input.

In [ ]:
def parse_student_data(raw_input_string):

# Parses and validates student data. Returns: A dictionary {roll_number: {data}} if successful, or None if validation fails.
# Structural Check: Split by '|'
    parts = raw_input_string.split('|')       # converts into list
    
    if len(parts) != 4:
        print(f"ERROR: Input string '{raw_input_string}' has incorrect number of parts (expected 4).")  #invalid input
        return None

    name = parts[0].strip()      #separately store the input
    raw_roll = parts[1].strip()
    raw_age = parts[2].strip()
    raw_marks = parts[3].strip()

    # Roll Number Validation
    # .isdigit() checks if the string contains only digits.
    if raw_roll.isdigit():
        roll_num = int(raw_roll)
    else:
        print(f"VALIDATION FAILED: Roll number '{raw_roll}' is not an integer.")
        return None

    # Age Validation (>= 16)
    if raw_age.isdigit():
        age = int(raw_age)
        if age < 16:
            print(f"VALIDATION FAILED: Age {age} is below 16.")
            return None
    else:
        print(f"VALIDATION FAILED: Age '{raw_age}' is not an integer.")
        return None
        
    # Marks Validation (0-100)
    marks = []
    mark_list = raw_marks.split(',')
    
    for raw_mark in mark_list:
        raw_mark = raw_mark.strip()
        
        # Check if the mark string contains only digits
        if not raw_mark.isdigit():
            print(f"VALIDATION FAILED: Mark '{raw_mark}' is not a valid integer.")
            return None
        
        mark = int(raw_mark)
        if 0 <= mark <= 100:
            marks.append(mark)
        else:
            print(f"VALIDATION FAILED: Mark {mark} is outside the valid range (0-100).")
            return None

    student_record = {  #assemble
        'name': name,
        'age': age,
        'marks': marks,
    }
    
    return {roll_num: student_record}

Student1 = "Derry|101|22|78, 88, 91"
result = parse_student_data(Student1)
print(f"\nInput: {Student1}\nResult: {result}")

# Invalid Roll
input = "Gerry|A05|20|90, 80, 70"
resultI = parse_student_data(input)
print(f"\nInput: {input}\nResult: {resultI}")

Input: Derry|101|22|78, 88, 91
Result: {101: {'name': 'Derry', 'age': 22, 'marks': [78, 88, 91]}}
VALIDATION FAILED: Roll number 'A05' is not an integer.

Input: Gerry|A05|20|90, 80, 70
Result: None

Question 11: Type Stability and Conversion                      
Given the list:                            
data = [10, "20", 30.5, "abc", None, True]                           
Write a function that:                      
Separates numeric and non-numeric values                     
Converts numeric values to float                      
Returns both lists                       
Explain in comments why True behaves as a numeric value.

In [23]:
def separate_and_convert(data_list):
    numeric_values = []
    non_numeric_values = []
    
    for item in data_list:
        # True/False (0/1) are technically integers,isinstance(item, float, bool) catches them.
        if isinstance(item, (int, float, bool)) and item is not None:
            #True behaves as 1 and False as 0 because the 'bool' class is a subclass of 'int' in Python.
            numeric_values.append(float(item)) #type conversion
        else:
            non_numeric_values.append(item)
            
    return numeric_values, non_numeric_values

data = [10, "20", 30.5, "abc", None, True]
nums, others = separate_and_convert(data)

print(f"Numeric: {nums}")
print(f"Non-numeric: {others}")

Numeric: [10.0, 30.5, 1.0]
Non-numeric: ['20', 'abc', None]

Question 12: Pattern-Based Looping
Generate the sequence:
2, 6, 12, 20, 30, 42, 56
(Rules:
Do not hardcode the list
Use loops and conditionals only
Explain the pattern in comments)

In [33]:
for x in range(2,8,1):
    print (x*(x+1), end=" ")

#the iteration range is 2 to 8 with increase of 1 in each iteration
#1st iteration: 2*3 = 6  ; x = 2+1 = 3 ; 3>=8?:false
#2nd iteration: 3*4 = 12  ; x = 3+1 = 4 ; 4>=8?:false and so on...
#6th iteration: 7*8 = 56  ; x = 7+1 = 8 ; 8>=8?:true so end the iteration

6 12 20 30 42 56

Question 13: Set-Based Enrollment Analysis
Given:

python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

Find:

Students enrolled in exactly two subjects, 
Students enrolled in only one subject, 
Students enrolled in all subjects

In [31]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

#Students enrolled in all subjects (Intersection of all three)
all_three = python & sql & statistics   # & (Bitwise AND)-> the result is 1 only if both bits are 1; INTERSECTION

# Students enrolled in exactly two subjects; find intersections of pairs and subtract those in all three
p_and_s = (python & sql) - all_three
s_and_st = (sql & statistics) - all_three
p_and_st = (python & statistics) - all_three
exactly_two = p_and_s | s_and_st | p_and_st       # | (Bitwise OR) -> result is 1 if at least one of the bits is 1; UNION

# Students enrolled in only one subject; Combine everything and subtract those in 2 or 3 subjects
all_students = python | sql | statistics        
only_one = all_students - exactly_two - all_three

print(f"Enrolled in all three: {all_three}")
print(f"Enrolled in exactly two: {exactly_two}")
print(f"Enrolled in only one: {only_one}")

Enrolled in all three: {'Hari'}
Enrolled in exactly two: {'Amit', 'Nita'}
Enrolled in only one: {'Sita', 'Ram', 'Gita'}

Question 14: Dictionary Aggregation Logic
Given:

records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
Write a function that:

Computes average per student, 
Identifies top and bottom performers,
Returns results using a single dictionary

In [ ]:
def analyze(records):
    averages = {}
    
    # student's average
    for name, scores in records.items():
        avg = sum(scores) / len(scores)
        averages[name] = round(avg, 2)
    
    # top and bottom performers(max and min values)
    top_name = max(averages, key=averages.get)  #take each name,look up its value in the 'averages' dictionary, and compare those values.
    bottom_name = min(averages, key=averages.get)
    
    #Return everything in one dictionary
    return {
        "all_averages": averages,
        "top": {top_name: averages[top_name]},
        "bottom": {bottom_name: averages[bottom_name]}
    }

# Data
records = {
    "Amit": [78, 82, 91], #key: value
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

print(analyze(records))

{'all_averages': {'Amit': 83.67, 'Sita': 84.0, 'Hari': 52.33}, 'top': {'Sita': 84.0}, 'bottom': {'Hari': 52.33}}

Question 15: Nested Data Structure Analysis                        
Given a nested dictionary representing a school's grade book:                                     

school_data = {                              
    "Class A": {                                    
        "Amit": [78, 82, 91],                                
        "Sita": [88, 79, 85]                           
    },                         
    "Class B": {                         
        "Hari": [45, 52, 60],                        
        "Ram": [92, 88, 95]                      
    }                                
}                          
Write a function that:                           
                                
Calculates the average marks for each student,                                 
Finds the top performer in each class,                                    
Calculates the overall school average,                                 
Returns a dictionary with:[                             
class_toppers: {class_name: (student_name, average)}                                 
school_average: float                               
student_averages: {student_name: average}]                                  
Explain in comments why nested dictionaries are useful for hierarchical data.

In [ ]:
def analyze_school_data(school_data):
    student_averages = {}
    class_toppers = {}
    total_score_sum = 0
    total_score_count = 0

    # Nested dictionaries are useful for hierarchical data because they allow logical grouping (e.g., grouping students by class) which makes data retrieval organized and reflects real-world relationships.

    for class_name, students in school_data.items():
        current_class_topper = None
        highest_avg = -1

        for student_name, grades in students.items():
            # individual student average
            avg = sum(grades) / len(grades)
            student_averages[student_name] = round(avg, 2)

            # totals for the school average
            total_score_sum += sum(grades)
            total_score_count += len(grades)

            if avg > highest_avg:
                highest_avg = avg
                current_class_topper = (student_name, round(avg, 2))
        
        class_toppers[class_name] = current_class_topper

    # Calculate overall school average
    school_avg = total_score_sum / total_score_count if total_score_count > 0 else 0

    return {
        "class_toppers": class_toppers,
        "school_average": round(school_avg, 2),
        "student_averages": student_averages
    }

school_data = {
    "Class A": {"Amit": [78, 82, 91], "Sita": [88, 79, 85]},
    "Class B": {"Hari": [45, 52, 60], "Ram": [92, 88, 95]}
}

results = analyze_school_data(school_data)
print(results)

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.67)}, 'school_average': 77.92, 'student_averages': {'Amit': 83.67, 'Sita': 84.0, 'Hari': 52.33, 'Ram': 91.67}}